/**
 * Convert px to em - base 16
 * em(16) / em(16px) = 1em
 */
/**
 * Nth-child loop for multiplication based off index
 * Accepts any valid css units
 * Optional max and min values
 */
/**
 * Eg   @include stagger-transitions(.1s, "p");
 */
body,
html {
  backface-visibility: hidden;
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased; }
