@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }
  @return true;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function z($layers...) {
  @if not map-has-nested-keys($z-layers, $layers...) {
    @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
  }
  @return map-deep-get($z-layers, $layers...);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  height: auto;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > img,
  > svg,
  > path,
  > video,
  > .video-js {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/**
 * Convert px to em - base 16
 * em(16) / em(16px) = 1em
 */
$browser-context: 16;
@function convert($pixels, $context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context;
}

@function em($pixels, $context: $browser-context) {
  @return  convert($pixels, $context) * 1em;
}

@function rem($pixels, $context: $browser-context) {
  @return  convert($pixels, $context) * 1rem;
}

/**
 * Nth-child loop for multiplication based off index
 * Accepts any valid css units
 * Optional max and min values
 */
@mixin nth-child($property, $increment, $max-children: 10, $min-children: 1) {
  @for $i from $min-children through $max-children {
    &:nth-child(#{$i}) {
      #{$property}: #{$i * $increment}
    }
  }
}

/**
 * Eg   @include stagger-transitions(.1s, "p");
 */
@mixin stagger-transition-delay($interval, $element: "") {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) #{unquote($element)} {
      transition-delay: #{$interval * ($i - 1)};
    }
  }
}
